// Toolbar styles
$tc-list-toolbar-display-color: $silver !default;
$tc-list-toolbar-background-color: $concrete !default;


.tc-list-toolbar {
	background: $tc-list-toolbar-background-color;

	:global(.navbar-text) {
		color: $tc-list-toolbar-display-color;
		font-weight: 400;
		margin-right: 0;
	}
}

.ts-list-toolbar-btn-success {
	a {
		color: $white !important;
		background-color: $limeade;
		transition: box-shadow 0.1s ease-out;
		box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset;
		border: 1px solid darken($limeade, 5%);
		border-radius: 4px;

		&:hover,
		&:focus {
			background-color: tint($limeade, 10%) !important;
			box-shadow: 0 -3px 0 $shadow inset;
		}

		&:active {
			background-color: $limeade !important;
			box-shadow: 0 -3px 0 rgba(0, 0, 0, 0) inset;
		}

		span {
			margin-left: $padding-smaller;
		}
	}
}
