// Input styles
$tc-input-main-color: $brand-primary !default;
$tc-input-small-padding: $padding-small !default;
$tc-input-normal-padding: $padding-normal !default;
$tc-input-large-padding: $padding-large !default;

